# Dépendances / build
node_modules/
vendor/
*.log

# WordPress local / environnement
wp-config.json
wp-config.php
/wp-content/uploads/
.wp-env.override.json

# Système
.DS_Store
Thumbs.db

# Éditeurs
.idea/
.vscode/
*.swp

# Archives
*.zip
